.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.socialBanner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
}

a {
  text-decoration: none;
  color: #5af22f;
  transition: all 500ms ease-in-out;
}

a:hover {
  color: #42972a;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#notification-form-wrapper {
  width: 65%;
}

#notification-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #5af22f;
  color: white;
  margin-bottom: 25px;
  font-size: 100%;
}

.send-button {
  padding: 15px;
  background: none;
  border: 1px solid #5af22f;
  color: #5af22f;
  font-size: 90%;
  cursor: pointer;
}
